################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EDDY.IS.AdMatching
/Client/bin
/Client/obj/Debug
/EDDY.IS.AdMatching.Core/bin/Debug/net6.0
/EDDY.IS.AdMatching.Core/obj
/EDDY.IS.AdMatching.Data/bin/Debug/net6.0
/EDDY.IS.AdMatching.Data/obj
/EDDY.IS.AdMatching.Domain/bin/Debug/net6.0
/EDDY.IS.AdMatching.Domain/obj
/EDDY.IS.AdMatching.EAV/bin/Debug/net6.0
/EDDY.IS.AdMatching.EAV/obj
/EDDY.IS.AdMatching.Entities/bin/Debug/net6.0
/EDDY.IS.AdMatching.Entities/obj
/EDDY.IS.AdMatching.Repositories/bin/Debug/net6.0
/EDDY.IS.AdMatching.Repositories/obj
/EDDY.IS.AdMatching.Service/bin/Debug/net6.0
/EDDY.IS.AdMatching.Service/obj
/EDDY.IS.Common/bin/Debug/net6.0
/EDDY.IS.Common/obj
/EDDY.IS.RuleEngine/bin/Debug/net6.0
/EDDY.IS.RuleEngine/obj
/EDDY.IS.Test.AdMatchingServiceTest/bin/Debug/net6.0
/EDDY.IS.Test.AdMatchingServiceTest/obj
/packages
