<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Off"
	  internalLogFile="${basedir}\Logs\nlog-logs.txt">

	<extensions>
		<add assembly="NLog.Database"/>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets async="true">
		<!-- Logging on the PerformanceLoggingDetail table-->
		<target xsi:type="Database"
				name="PerformanceLoggingDetail"
				connectionString="ConnectionStringDynamic"
				commandText =" 
				INSERT INTO [dbo].[PerformanceLoggingDetailAMS]
					([SearchGuid]					
					,[LevelId]
					,[StepName]
					,[RequestStartTimestamp]
					,[RequestEndTimeStamp]
					,[ResponseTimeInMilliseconds])
				VALUES
					(@SearchGuid
					,@LevelId
					,@StepName
					,@RequestStartTimestamp
					,@RequestEndTimeStamp
					,@ResponseTimeInMilliseconds)">
			<parameter name="@SearchGuid" layout="${event-properties:SearchGuid}" />
			<parameter name="@LevelId" layout="${event-properties:LevelId}" />
			<parameter name="@StepName" layout="${event-properties:StepName}" />
			<parameter name="@RequestStartTimeStamp" layout="${event-properties:RequestStartTimeStamp}" />
			<parameter name="@RequestEndTimeStamp" layout="${event-properties:RequestEndTimeStamp}" />
			<parameter name="@ResponseTimeInMilliseconds" layout="${event-properties:ResponseTimeInMilliseconds}" />
		</target>

		<target xsi:type="Database"
				name="PerformanceLoggingMaster"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
				connectionString="ConnectionStringDynamic"
				commandText ="
				INSERT INTO [dbo].[PerformanceLoggingMasterAMS]
					([ISApplicationId]
					,[SearchGuid]
					,[PerformanceLoggingName]
					,[RequestISApplicationId]
					,[RequestStartTimeStamp]
					,[RequestEndTimeStamp]
					,[ResponseTimeInMilliseconds]
					,[RequestMessage]
					,[ResponseMessage]
					,[Server])
				VALUES
					(@ISApplicationId
					,@SearchGuid
					,@PerformanceLoggingName
					,@RequestISApplicationId
					,@RequestStartTimeStamp
					,@RequestEndTimeStamp
					,@ResponseTimeInMilliseconds
					,@RequestMessage
					,@ResponseMessage
					,@Server)">
			<parameter name="@ISApplicationId" layout="${event-properties:ISApplicationId} " dbType="DbType.Int32" />
			<parameter name="@SearchGuid" layout="${event-properties:SearchGuid}" />
			<parameter name="@PerformanceLoggingName" layout="${event-properties:PerformanceLoggingName}" />
			<parameter name="@RequestISApplicationId" layout="${event-properties:RequestISApplicationId}" />
			<parameter name="@RequestStartTimeStamp" layout="${event-properties:RequestStartTimeStamp}" />
			<parameter name="@RequestEndTimeStamp" layout="${event-properties:RequestEndTimeStamp}" />
			<parameter name="@ResponseTimeInMilliseconds" layout="${event-properties:ResponseTimeInMilliseconds}" />
			<parameter name="@RequestMessage" layout="${event-properties:RequestMessage}" />
			<parameter name="@ResponseMessage" layout="${event-properties:ResponseMessage}" />
			<parameter name="@Server" layout="${machinename}" />

		</target>
	</targets>

	<!-- Rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" maxlevel="Info"  />
		<logger name="_PerformanceLoggingMaster" level="Info" writeTo="PerformanceLoggingMaster" final="false" />
		<logger name="_PerformanceLoggingDetail" level="Fatal" writeTo="PerformanceLoggingDetail" final="true"  />
		<!--<logger name="*" minlevel="Error" writeTo="database" final="true" />-->
		
	</rules>
</nlog>